/* Styles go here */
/* Styles go here */
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@400;700&family=Rubik:wght@400;700&display=swap');

:root {
    --clr-prussian-blue: #003853;
    --clr-orient: #006178;
    --clr-malibu: #92D3F5;

    --clr-golden-fizz: #FCEA2B;

    --clr-button-bg: #92D3F5;
}

html {
    font-family: "Rubik" !important;
    font-weight: 400;
}

body {
    background: var(--clr-prussian-blue);
    /* background: linear-gradient(to top right, hsl(200, 100%, 16%), hsl(200, 100%, 20%)); */
    color: var(--clr-malibu);

    min-height: 100vh;

    font-family: "Rubik";
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    place-content: center;
}

main {
    min-height: 100vh;

    display: grid;
    place-content: center;

    padding: 3em 1em;
}

.panel {
    max-width: 750px;
    max-height: 250px;
    padding: 1em;

    position: relative;
}

/* TEXT STYLES */
h1 {
    font-family: "Gluten";
    font-weight: 700;
    font-size: 3rem;
}

.countdown {
    font-weight: 700;
    font-size: 2.5rem;
}

p {
    font-size: 1.15rem;
}

/* LINK / BUTTON STYLES */
a, a:hover {
    color: var(--clr-malibu);
}

.contract-link {
    text-decoration: none;
    font-weight: 700;
}

.button {
    padding: 1em 2em;
    margin: .5em auto;

    background: var(--clr-orient);
    color: var(--clr-malibu);

    border: none;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;

    transition: all 500ms ease;
}

.nav-button {
    padding: .75em 1.5em;
    margin: .5em 0;
}

.mint-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 150px;
    max-width: 225px;

    overflow: hidden;
}

.mint-button:hover, .button:hover {
    background: var(--clr-malibu);
    color: var(--clr-prussian-blue);

    box-shadow: 0px 0px 10px var(--clr-malibu),
    0px 0px 30px var(--clr-malibu),
    0px 0px 60px var(--clr-malibu),
    0px 0px 100px var(--clr-malibu);
}

.mint-button::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 400%;
    background: var(--clr-malibu);
    transition: 1s;
    animation: animate 2s linear infinite;
}

.mint-button:hover::before {
    width: 100%;
}

.mint-button::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: var(--clr-prussian-blue);
    transition: 0.5s;
}

.mint-button:hover::after {
    background: var(--clr-malibu);
}

.mint-button span {
    z-index: 1;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* IMAGE STYLES */
.App-logo {
    max-width: 30px;
    height: auto;
    margin: 0 10px;
}

.image-showcase {
    width: 250px;
    height: 250px;
}

.image-showcase img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 250px;
    height: auto;

    border: .75em solid var(--clr-orient);
}
